:root {
    --primary-color: white;
    --secondary-color: black;
    --font-family: 'Arial, sans-serif';

    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;

}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.header-left {
    display: flex;
    flex-direction: column;
    
}

.line-1, .line-3 {
    font-size: var(--font-size-md);
}

.line-2, .line-4 {
    font-size: 3rem;
    font-weight: bold;
}



.header-right {
    flex: 0 1 400px;
    font-size: var(--font-size-md);
    line-height: 1.5;
    
}

body main {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 1.6;
}

footer {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    padding: 10px;
    font-family: var(--font-family);
    bottom: 0;
}

