:root {
    --primary-color: white;
    --secondary-color: black;
    --font-family: 'Arial, sans-serif';

    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;

}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.header-left {
    display: flex;
    flex-direction: column;
    
}

.line-1, .line-3 {
    font-size: var(--font-size-md);
}

.line-2, .line-4 {
    font-size: 3rem;
    font-weight: bold;
}



.header-right {
    flex: 0 1 400px;
    font-size: var(--font-size-md);
    line-height: 1.5;
    
}

body main {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    font-family: var(--font-family);
    font-size: var(--font-size-lg);
    line-height: 1.6;
}

.photography {
    text-align: center;
}
.photo-album {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.image-frame {
    position: relative;
    width: 65%;
    height: 360px;
    overflow: hidden;
}

.frame-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.frame-photo.active {
    display: block;
}

.button {
    position: absolute;
    top: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--primary-color);
    border: none;
    font-size: var(--font-size-xl);
    padding: 5px 0.7em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.button.left {
    left: 1em;
}

.button.right {
    right: 1em;

}


.my-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    padding: 10px;
    font-family: var(--font-family);
    bottom: 0;
}

.social-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #0066cc;
    text-decoration: none;
    margin-right: 20px;
}

.social-link:hover {
    text-decoration: underline;
}



